/target
plans
claude.MD
local
cargo.lock
/ubass_macros/target
/Cargo.lock
/.nextcloudsync*
/.sync*
/logs
target/
**/target/
/integration/Cargo.lock
/check_gaps.py
/test
/tests/song.flac
/tests/logs
/summary.md
/instructions.md
